build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/DoganGL.sln
build/DoganGLTest.vcxproj
build/DoganGLTest.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-bfef8e23ea605ac2a235.json
build/.cmake/api/v1/reply/cmakeFiles-v1-5bb1894e155224bc2c69.json
build/.cmake/api/v1/reply/codemodel-v2-0c12ca38d0319bb1e52f.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2024-12-30T22-37-48-0214.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-b35f3c80064ab177a193.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-b35f3c80064ab177a193.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-b35f3c80064ab177a193.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-b35f3c80064ab177a193.json
build/.cmake/api/v1/reply/target-DoganGLTest-Debug-e1884c435a691e0a2566.json
build/.cmake/api/v1/reply/target-DoganGLTest-MinSizeRel-7ed409c0ae9d5b7e1a78.json
build/.cmake/api/v1/reply/target-DoganGLTest-Release-a50f6f9a61a620a1a6c4.json
build/.cmake/api/v1/reply/target-DoganGLTest-RelWithDebInfo-0e11add50bbb7927b899.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-cbf198b0f5f8f587adf6.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-cbf198b0f5f8f587adf6.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-cbf198b0f5f8f587adf6.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-cbf198b0f5f8f587adf6.json
build/.cmake/api/v1/reply/toolchains-v1-80e2eb4582d74f11d57b.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.3/CMakeCCompiler.cmake
build/CMakeFiles/3.31.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.3/CMakeSystem.cmake
build/CMakeFiles/3.31.3/VCTargetsPath.txt
build/CMakeFiles/3.31.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.31.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.3/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.31.3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.31.3/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.31.3/CompilerIdC/Debug/vcpkg.applocal.log
build/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.31.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.31.3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.31.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.31.3/CompilerIdCXX/Debug/vcpkg.applocal.log
build/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.31.3/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.31.3/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/43bfe4609bf78d2dd96b2aac788f8259/generate.stamp.rule
build/Debug/DoganGLTest.exe
build/Debug/DoganGLTest.pdb
build/Debug/img.png
build/DoganGLTest.dir/Debug/DoganGLTest.exe.recipe
build/DoganGLTest.dir/Debug/DoganGLTest.ilk
build/DoganGLTest.dir/Debug/main.obj
build/DoganGLTest.dir/Debug/vc143.pdb
build/DoganGLTest.dir/Debug/DoganGLTest.tlog/CL.command.1.tlog
build/DoganGLTest.dir/Debug/DoganGLTest.tlog/Cl.items.tlog
build/DoganGLTest.dir/Debug/DoganGLTest.tlog/CL.read.1.tlog
build/DoganGLTest.dir/Debug/DoganGLTest.tlog/CL.write.1.tlog
build/DoganGLTest.dir/Debug/DoganGLTest.tlog/CustomBuild.command.1.tlog
build/DoganGLTest.dir/Debug/DoganGLTest.tlog/CustomBuild.read.1.tlog
build/DoganGLTest.dir/Debug/DoganGLTest.tlog/CustomBuild.write.1.tlog
build/DoganGLTest.dir/Debug/DoganGLTest.tlog/DoganGLTest.lastbuildstate
build/DoganGLTest.dir/Debug/DoganGLTest.tlog/link.command.1.tlog
build/DoganGLTest.dir/Debug/DoganGLTest.tlog/link.read.1.tlog
build/DoganGLTest.dir/Debug/DoganGLTest.tlog/link.secondary.1.tlog
build/DoganGLTest.dir/Debug/DoganGLTest.tlog/link.write.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
.vscode/settings.json
img.png
